doctype html
html
  head
    title To Do Dashboard (Express)
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
  body
    div#page-wrap
      form#logout-form(method='post' action='/logout') #[input#logout-button(type="submit" value="Logout")]
      h1 #[span=username]'s Dashboard
      div#task-form-wrap
        h2 Add A Task:
        form#add-task-form(method='post' action='/dashboard/addTask' autocomplete='off')
          div.option-wrap
            div.input-title Task name
            input(type="text" name="taskName" maxlength=30 required)
          div.option-wrap
            div.input-title Details
            input(type="text" name="taskDetails" placeholder="Optional" maxlength=255)
          div.option-wrap
            div.input-title.priority-title Priority
            select(name="taskPriority")
              option Low
              option High
        input#add-button(type="submit" value="Add Task")

      div#tasks
        each val in tasks
          div.task-wrap(class=val.completed ? 'completed':'' class=val.priority)
            div.task-subwrap
              div.task-name-wrap
                div.task-title=val.taskname
                div.task-details=val.taskdetails
            div.task-subwrap.date-wrap
              div Created:
              div.date-created=val.datecreated
              div=val.datecompleted ? 'Completed:':''
              div.date-completed=val.datecompleted
            div.task-subwrap
              form.complete-task-form(method="post" action='/dashboard/comTask') 
                input.taskId(type="text" value=val.ID name="taskID")
                input.task-control(type="submit" value="Complete")
              form.remove-task-form(method="post" action='/dashboard/remTask') 
                input.taskId(type="text" value=val.ID name="taskID")
                input.task-control(type="submit" value="X Remove")